body {
	background: url("background.jpg") repeat;
}

.container-fluid {
	padding: 0;
}

.container {
width: 750px;
font-size: 22px;
}

.nav-tabs {
border-bottom: 1px solid #ddd;
font-size: 10px;
}

#headerSection {
	background: #333;
	margin: -25px 0 20px;
	color: #FAFAFA;
	padding: 15px 20px;
	box-shadow: 0 0 7px #000;
} 

#headerSection a {
  color: white !important;
  text-decoration: underline;
}

#allContent,
#loadingContent {
	padding: 0 20px;
}

.nav-tabs > li > a {
	font-size: 1.5em;
}

#dataTable > table {
	background: #FAFAFA;
}

.well {
	background: #FCFCFC;
}


#updateBtn {
	font-size: 1.3em;
	font-weight: bold;
	padding: 10px 20px;
	margin-left: 70px;
}

.btn {
	font-size: 1.3em;
	font-weight: bold;
	padding: 10px 20px;
	margin-left: 70px;
}

#yearText {
	display: inline;
}
